Oops...! Password is incorrect 
<br />

Please enter the correct password

<br/>

<a asp-controller="Home" asp-action="Index">Back to login!</a><br />
<a asp-controller="Home" asp-action="Registration">Back to Registration</a>